<header
    [ngClass]="{'line-movies':line === 'Movies', 'line-series':line === 'Series'}">
    <h2>{{line}}</h2>
    <lines-category-list 
      *ngIf="productItems"
      [categories]="productItems | categoryList">
    </lines-category-list>
</header>
<section>
  <lines-product-item
    [ngClass]="{'line-movies': productItem.line==='Movies', 'line-series':productItem.line==='Series'}"
    *ngFor="let productItem of productItems"
    [productItem]="productItem"
    (delete)="onProductItemDelete($event)"></lines-product-item>
</section>
<footer>
  <a routerLink="/add">
    <h2>add</h2> 
  </a>
</footer>
